body {
  background: blueviolet;
  font-size: 60px;
}

.card {
  background: white;
  display: inline-block;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}

.top-layer,
.bottom-layer {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.numbers {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
